@using Schedulefy.ViewModels.Tickets
@model BuyTicketViewModel

@{
    ViewData["Title"] = "Buy Tickets";

}


<link rel="stylesheet" href="~/css/Ticket/Buy.css" />


<div class=buy-tickets-headers>
    <h2>@ViewData["Title"]</h2>
</div>

<div class="buy-tickets-form-container">
    @if (String.IsNullOrEmpty(Model.EventImageUrl))
    {
        <img src="~/images/Defaults/no-photo.jpg" style="height: 250px; width: 250px" />
    }
    else
    {
        <img src="@Model.EventImageUrl" style="height: 250px; width: 250px" />
    }

    <div class="buy-tickets-inner-info">
        <p id="buy-tickets-event-title">@Model.EventTitle</p>
        <p id="buy-tickets-event-price">Price per ticket: @Model.PricePerTicket$</p>
    </div>

    <form method="post" action="/api/ticketapi/buy">
        <input type="hidden" name="eventId" value="@Model.EventId">
        <input type="hidden" name="price" value="@Model.PricePerTicket">

        <label for="quantity">Quantity:</label><br />
        <input type="number" name="quantity" value="1" required>

        <button type="submit">Buy Tickets</button>
    </form>
</div>




