@using Schedulefy.ViewModels.Events;
@model AddEventInputModel

@{
    ViewData["Title"] = "Add Event";
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<link rel="stylesheet" href="~/css/Add.css" />


<div class="d-flex justify-content-between align-items-center mb-3 add-headers" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="main-container">
    <form asp-controller="Event" asp-action="Add" method="post">
        <div class="s-1">
            <div class="s-1-name">
                <label asp-for="@Model.Name" class="add-labels">Name</label>
                <input asp-for="@Model.Name" class="add-inputs" aria-required="true" />
            </div>
            <div class="s-1-category">
                <label asp-for="@Model.CategoryId" class="add-labels">Category</label>
                <select asp-for="@Model.CategoryId" class="add-inputs" aria-required="true" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                    <option value="">Select Category</option>
                </select>
            </div>
        </div>

        <div class="s-2">
            <label asp-for="@Model.Description" class="add-labels">Description</label>
            <input asp-for="@Model.Description" class="add-inputs" aria-required="true" /> 
        </div>

        <div class="s-2">
            <label asp-for="@Model.ImageUrl" class="add-labels">ImageUrl</label>
            <input asp-for="@Model.ImageUrl" class="add-inputs" aria-required="false" />
        </div>

        <div class="s-2">
            <label asp-for="@Model.TicketPrice" class="add-labels">Price for ticket</label>
            <input asp-for="@Model.TicketPrice" class="add-inputs" aria-required="true" type="number" step="0.01" />
        </div>

        <div class="s-2">
            <label asp-for="@Model.PublishedOn" class="add-labels">Date of the event</label>
            <input asp-for="@Model.PublishedOn" class="add-inputs" aria-required="true" type="date" />
        </div>

        <div class="s-2">
            <button class="s-2-button" type="submit">Add</button>
        </div>
    </form>
</div>
