@using Schedulefy.ViewModels.Events
@model DeleteEventInputModel

@{
	ViewData["Title"] = "Delete Event";
}

<link rel="stylesheet" href="~/css/Delete.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="delete-headers">
	<h2>@ViewData["Title"]</h2>
</div>

<div class="delete-border">	
	<h3>@Model.Name</h3>
	<div class="delete-border-inner">
		<p style="color: #a288b4">Published by: @Model.Publisher</p>
		<p style="color: red">Are you sure you want to delete @Model.Name?</p>
	</div>
	<div class="delete-buttons">
		<form asp-action="Delete" method="post">
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Name" />
			<input type="hidden" asp-for="PublisherId" />
			<button type="submit" class="btn btn-danger">
				<i class="fas fa-trash"></i> Confirm Delete
			</button>
		</form>

		<a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning">
			<i class="fas fa-times-circle"></i> Cancel
		</a>
	</div>
</div>
