@using Schedulefy.ViewModels.Events
@model DetailsEventViewModel

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="~/css/Details.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<h1>@Model.Name</h1>
<div class="details-border">
    <div class="details-container">
        @if (String.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/images/Defaults/no-photo.jpg" style="height: 350px; width: 350px" />
        }
        else
        {
            <img src="@Model.ImageUrl" style="height: 350px; width: 350px" />
        }
        <div class="details-inner-container">
            <p>Publisher: @Model.PublisherName</p>
            <p>Date of the event: @Model.PublishedOn</p>
            <p>Category: @Model.CategoryName</p>
            <p>Description about event: @Model.Description</p>
            <div class="details-buttons">
                <button type="button" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1" onclick="history.back()">
                    <i class="fas fa-arrow-left"></i> Back
                </button>

                @if (!Model.IsPublisher && !Model.IsInGoing && !User.IsInRole("Admin"))
                {
                    <form asp-controller="Going" asp-action="Save" method="post" class="d-flex justify-content-center align-items-center flex-fill mx-1">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-success w-100">
                            <i class="fa-solid fa-circle-plus"></i> Goings
                        </button>
                    </form>
                }

                @if (Model.IsPublisher || User.IsInRole("Admin"))
                {
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                }

                @if(!Model.IsPublisher && !User.IsInRole("Admin"))
                {
                    <a asp-controller="Ticket" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">
                        Buy A Ticket
                    </a>
                }

                <a asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1" style="background-color: green">
                    <i class="fa-solid fa-comment"></i>Comments
                </a>
                
            </div>
        </div>
        
    </div>
</div>
