@using Schedulefy.ViewModels.Events
@model IEnumerable<IndexEventViewModel>

@{
    ViewData["Title"] = "Upcoming Events";
}


<link rel="stylesheet" href="~/css/Index.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="events-header">
    <h2>@ViewData["Title"]</h2>
    @if(User.Identity!.IsAuthenticated)
    {
        <a asp-action="Add" class="add-btn">
            <i class="fa-solid fa-circle-plus"></i>Add Event
        </a>
    }
</div>

<div class="upcoming-events-container">
    @foreach (var entity in Model)
    {
        <div class="event-border">
            @if(String.IsNullOrEmpty(entity.ImageUrl))
            {
                <img src="~/images/Defaults/no-photo.jpg" style="height: 250px; width: 250px" />
            }
            else
            {
                <img src="@entity.ImageUrl" style="height: 250px; width: 250px" />
            }

            <div class="event-body">
                <h3 class="font-color">@entity.Name</h3>
                <div class="event-body-main-part">
                    <div class="event-boddy-left-part">
                        <p class="font-color">Category: @entity.CategoryName</p>
                        <p class="font-color"> Going On: @entity.GoingCount</p>
                    </div>
                    <div class="event-body-right-part">
                        <p class="font-color">Publisher: @entity.PublisherName</p>
                        <p class="font-color">Published On: @entity.PublishedOn</p>
                    </div>
                </div>               
            </div>
            <div class="buttons-container">
                @if(User.IsInRole("Admin"))
                {
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info w-100" style="max-width: 50%">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                }
                else
                {
                    @if (User.Identity.IsAuthenticated && !entity.IsPublisher && !entity.IsInGoing)
                    {
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info me-2 w-50">
                            <i class="fas fa-info-circle"></i> Details
                        </a>
                        <form asp-controller="Going" asp-action="Save" method="post" class="w-50">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <button type="submit" class="btn btn-success w-100">
                                <i class="fas fa-heart"></i> Goings
                            </button>
                        </form>
                    }
                    else
                    {
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info w-100" style="max-width: 50%">
                            <i class="fas fa-info-circle"></i> Details
                        </a>
                    }
                }
                
            </div>
        </div>

    }
</div>
