@using Schedulefy.ViewModels.Events
@model IEnumerable<GoingEventsViewModel>

@{
	ViewData["Title"] = "Events to go";
}

<link rel="stylesheet" href="~/css/Goings.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="goings-headers">
	<h2>@ViewData["Title"]</h2>
</div>

<div class="going-events-main-container">
	@foreach(var entity in Model)
	{
		<div class="event-border">
			@if(entity.ImageUrl is null)
			{
				<img src="~/images/Defaults/no-photo.jpg" />
			}
			else
			{
				<img src="@entity.ImageUrl" />
			}
			<div class="event-info">
				<p>@entity.Name</p>
				<p>@entity.Category</p>
			</div>
			<div class="goings-buttons">
				<a asp-controller="Event" asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info fw-bold w-100">
					<i class="fas fa-info-circle"></i> Details
				</a>
				<form asp-controller="Going" asp-action="Remove" asp-route-id="@entity.Id" method="post">
					<button type="submit" class="btn btn-danger fw-bold w-100">
						<i class="fas fa-trash"></i> Remove
					</button>
				</form>
			</div>
		</div>

	}
</div>
